# flyctl launch added from .gitignore
**/src/main/resources/application.conf

**/project/target
**/project/project/target
**/.bsp
**/.project
**/.classpath
**/.cache
**/.settings
**/dist/*
**/lib_managed
**/ivy
**/ivy-cache
**/dependency-reduced-pom.xml
**/.history
**/.idea
**/*.iml
**/*.ipr
**/*.iws
.idea_modules
**/*.swp
**/*.swo
**/*.log
**/logs
**/.DS_Store
**/data/*
!**/project/assembly.sbt

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
fly.toml
