.container {
    display: flex;
    min-height: 100vh;
}

.container .column {
    flex: 1;
    box-sizing: border-box;
    text-align: left;
}

.container .column:nth-child(1) {
    padding: 0;
    flex-basis: 20%;
    background-color: #f2f2f2;
    min-width: 320px;
}

.container .column:nth-child(2) {
    padding: 10px;
    flex-basis: 80%;
    background-color: #fff;
    min-width: 1000px;
}




/* fileList */
.fileList {
    padding: 0;
}

.fileList li {
    padding: 5px 0;
}
.fileList > li:nth-child(odd) {
    background-color: #ddd;
}

.fileList .active .name {
    font-weight: bold;
}

.fileList .meteoParams {
    display: none;
}

.fileList li.active .meteoParams {
    display: block;
}

/* meteoParam */
.meteoParams li:hover {
    text-decoration: underline;
}


.dateList {
    padding-left: 0;
}

.dateList li {
    color: #ddd;
    background-color: #333;
    padding: 5px 0 5px 10px;
}

.dateList li .controls {
    padding: 10px 3px;
}

.slideShow li {
    display: inline;
    padding: 3px 5px;
}