.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }

  .calendarTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .calendarNav {
    display: flex;
    align-items: center;
  }

  .calendarNav button {
    margin-right: 5px;
    background-color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
  }

  .calendarYearMonth {
    text-align: center;
  }

  .calendarCell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #fff;
  }

  .prevMonth,
  .nextMonth {
    opacity: 0.3;
  }

  .dataDate {
    background-color: #99ccff;
  }

  .currentDate {
    background-color: #ffcc66;
  }

  .calendarCell:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }