.container {
    display: flex;
    min-height: 100vh;
  }

  .column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
  }

  .column:nth-child(1),
  .column:nth-child(2) {
    flex-basis: 15%;
    background-color: #f2f2f2;
  }

  .column:nth-child(3) {
    flex-basis: 70%;
    background-color: #e6e6e6;
  }