body {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  font-family: 'Rubik', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  padding-inline-start: 15px;
}

thead {
  font-weight: bold;
}

@font-face {
  font-family: 'Rubik';
  src: url('../assets/Rubik-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.primary {
  background-color: #ffcc66;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
}

.primary:hover {
  background-color: #ffb92d;
}

table td {
  padding: 3px 7px;
}

table tr:nth-child(odd) {
  background: #d6d6d6;
}

table tr:hover {
  background: #c0c0c0;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}