.result-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.result-item {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

.resultTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.resultTitle h3 {
  margin: 0;
}