.spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
  }
  .spinner:after {
    content: " ";
    display: block;
    width: 14px;
    height: 14px;
    margin: 0px;
    border-radius: 50%;
    border: 6px solid #333;
    border-color: #333 transparent #333 transparent;
    animation: spinner 1.2s linear infinite;
  }
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }