.weatherIconButton {
    font-family: 'Daira by LTV grafika';
    font-size: 30px;
    display: inline-block;
    background-color: #ccc;
    padding: 3px 4px;
    margin: 0 3px;
    cursor: pointer;
}

.weatherIconButton:hover {
    background-color: #333;
    color: white;
}

.weatherIconInput {
    font-family: 'Daira by LTV grafika';
    font-size: 30px;
}

.weatherIconStub {
    font-family: 'Daira by LTV grafika';
    font-size: 20px;
    color: white;
}